section {
  width: 500px;
  margin: auto;
  padding: 40px 20px;
  box-shadow: rgb(0, 0, 0) 0px 3px 8px;
}

.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

tr {
  padding: 10px;
}

td {
  padding: 10px;
}

select {
  width: 210px;
  height: 50px;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 5px;
}

input {
  width: 200px;
  height: 30px;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 5px;
}

.buttondiv button {
  width: 160px;
  height: 30px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-size: large;
}
